# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
next-project/node_modules
next-project/.pnp
next-project/.pnp.js

# testing
next-project/coverage

# next.js
next-project/.next/
next-project/out/

# production
next-project/build

# misc
.DS_Store
*.pem

# debug
next-project/npm-debug.log*
next-project/yarn-debug.log*
next-project/yarn-error.log*
next-project/.pnpm-debug.log*

# local env files
.env*.local

# vercel
next-project/.vercel

# typescript
next-project/*.tsbuildinfo
next-project/next-env.d.ts
